/* Minimal normalize */
* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input {
    font: inherit;
}